
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu'serif;
}
/************************************************************/

#arrow{
  text-align: center;
  background-color: rgba(233, 233, 235, 0.5);
	border: 1px solid #0e2c4f;
	border-radius: 2px;
}
.block_one{
	width: 70px;
	height: 2px;
	background: #5fc3e4; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #5fc3e4 0%, #09536b 100%);
	background: -webkit-linear-gradient(-45deg, #5fc3e4 0%, #09536b 100%);
	background: linear-gradient(135deg, #5fc3e4 0%, #09536b 100%);
	margin-left: 10rem;
    margin-bottom: 50px;
}

.container-cloud{
  background-color: rgb(236, 234, 234);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-family: "Ubuntu", serif;
    margin: 0em;
   }
  #container-cloud img {
    padding: 0;
    margin:8em 0rem 5rem 0rem;
    width: 35%;
  }
  #container-cloud .work-text {
    width: 70%;
    margin-top: -1.7em;
    padding: 1em 0 1em 2em;
    display: flex;
    flex-direction: column;
  }
  #container-cloud h3 {
    padding: 3rem 0rem 0rem 0rem;
    font-size: 2.2em;
    font-weight: 600;
    margin: 0.3em 0;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'ubuntu', serif;
  }
  #container-cloud p {
    font-size: 1.2em;
    line-height: 2rem;
    text-indent: 1.5rem;
    text-align: justify;
    margin: 0rem 5rem 0rem 2rem;
    font-family: 'Ubuntu', serif;
  }

  @media only screen and (max-width : 992px) {
   
    }
    
  
  @media only screen and (max-width : 600px) {
    .container-cloud{
       height: 130vh;
       position:relative;
       margin:0;
       padding: 0;
      }
      #container-cloud .work-text {
        text-align: center;
        width: 100%;
        margin: 0;
        }
        #container-cloud p{
          text-align: justify;
        }
        #container-cloud img {
        position: absolute;
        opacity: 0.7;
        top: 45rem;
        left: 2rem;
        width: 100%;
        }
    }
  /***************************************************************/
  .vantagens {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #F2F9FF;
	min-height: 50vh;
	padding: 1em 1em 4em;
	}

	.vantagens h2 {
  font-size: 1.5em;
	position: relative;
	margin: 0 0.3em 4rem auto;
	top: .5em;
	font-weight: 700;
	}
	.vantagens h2 i {
	color: #5CE0F2;
	}
	.vantagens-Bi{
  margin: 2rem 0rem;
	}
  .vantagens h4{
    color:#5CE0F2 ;
  }
 /*******************************************************************/
  #purpose {
    background-color: rgb(221, 219, 219);
    min-height: auto;
    padding-top: 2rem;
    margin:0;
    padding-bottom: 2rem;
    font-family: 'Ubuntu'serif;
  }
  #purpose .container-fluid {
    padding-left: 0;
    padding-right: 0,2,;
  }
  #purpose hr {
    background-color: #5CE0F2;
    height: 1px;
    margin: 45px 0;
  }
  #purpose h3 {
    font-family: "Ubuntu",serif;
    font-size: 3rem;
    letter-spacing: -2px;
    margin-bottom: 1rem;
   
  }
  #purpose .text-light {
    font-family: "Ubuntu",serif;
    font-size: 22px;
    line-height: 34px;
    }

  .full-screen {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .block_one{
    width: 15rem;
    height: 2px;
    background: #5fc3e4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #5fc3e4 0%, #09536b 100%);
    background: -webkit-linear-gradient(-45deg, #5fc3e4 0%, #09536b 100%);
    background: linear-gradient(135deg, #5fc3e4 0%, #09536b 100%);
    margin-left: 0rem;
      margin-bottom: 50px;
  }
  

  

  