@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu'serif;
}
/***************************************Destaque ************************************************/
#index-header_BI{
    position: relative;
  }
  #index-header_BI h1{
position: absolute;
top: 8rem;
left:30%;
margin: 0;
font-family: 'Ubuntu', sans-serif;
font-size: 4rem;
color: #15d0e5;
   }
   #download-button_BI{
	background-color:#0c1b31;
     margin-top: 6rem;
     border:1px solid #15d0e5;
     }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #index-header_BI .section {
    top: 0;
    }
    #index-header_BI h1{
        top: 10rem;
        margin: auto;
      font-size: 3rem;
      
	}
    #download-button_BI{
    font-size: 12px;
     font-weight: bold;
      }
}

@media only screen and (max-width : 600px) {
	#index-header_BI .section {
    top: 0;
    }
    #index-header_BI h1{
     right: 2rem;  
      font-size: 3rem;
     
	}
    #download-button_BI{
	margin-top:13rem;
	margin-left: 2rem;
    font-size: 12px;
    font-weight: bold;
      }
    }


    .affix {
        top:0;
        width: 100%;
        z-index: 11 !important;
    }
  
  .parallax-1, .parallax-2, .parallax-3, .parallax-4, .header{
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  }

  .parallax-2{
  background-image: url('../Imagens/fundoDigital.jpg');
  min-height:400px;
  }

  .data-science {
    background-color: black;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    
    .data-science__titulo {
     font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem;
    }
    
    .data-science__lista li {
    padding-top: 5.5rem;
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
    background-position: top 20px center;
}

.data-science--paravoce {
background-image: url(../Imagens/Inteligencia\ artificial.png);
}

.data-science--duvidas {
background-image: url(../Imagens/big-data.png);
}

.data-science--didatica {
background-image: url(../Imagens/configuracao.png);
}

.data-science--online {
background-image: url(../Imagens/estatistica.png);
}

.data-science__titulo {
font-size: .8rem;
font-weight: 600;
margin-top: 1rem;
margin-bottom: .2rem;
}

.data-science__texto {
line-height: 1rem;
}

@media(min-width:768px) {
.data-science {
margin-bottom: 3.7rem;
}

.data-science__lista {
display: grid;
grid-template-columns: 17.5rem 17.5rem;
gap: 1rem;
}

.data-science__titulo {
margin-bottom: 1rem;
 }

.data-science__titulo {
font-size: 1.1rem;
 }

.data-science__texto {
font-size: .8rem;
}
}

@media(min-width:1200px) {
.data-science__titulo {
font-size: 1.3rem;
}

.data-science__lista {
gap: 1.3rem;
grid-template-columns: 22.5rem 22.5rem;
}

.data-science__lista li {
padding-top: 7.25rem;
background-size: 6rem 6rem;
}

.data-science__titulo {
font-size: 1.2rem;
margin-bottom: .6rem;
}

.data-science__texto {
font-size: .9rem;
line-height: 1.2rem;
}}
  